<ion-header [translucent]="true">
  <style>
    .center {
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
  </style>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title size="medium" color="primary" class="ion-text-center">About</ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-row class="ion-justify-content-center ion-align-items-center">
    <ion-col size="10">
      <div>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Lecture</ion-card-subtitle>
            <ion-card-title>Mobile Programming</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Efe Mesudiyeli
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>RESTAPI</ion-card-subtitle>
            <ion-card-title>REQRESAPI</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            Restapi Project. Made with Ionic
          </ion-card-content>
        </ion-card>
      </div>
    </ion-col>
    
    
  </ion-row>





</ion-content>