<ion-header>
  <ion-toolbar>
    <ion-title>
      <ion-badge class="ion-float-right" color="dark">{{user.id}}</ion-badge>
      {{user.first_name}} {{user.last_name}}
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="user.avatar" />
    <ion-card-header>
      <ion-card-title>ID: {{user.id}}</ion-card-title>
      <ion-card-subtitle>{{user.first_name}} {{user.last_name}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      {{user.email}}
    </ion-card-content>
  </ion-card>
</ion-content>